@model MusicStore.ViewModels.User.UserProductsViewModel

<h1 class="text-center text-capitalize glyphicon-bold">B R A S S</h1>
<h3 class="text-center text">Hello, @Model.User.FirstName @Model.User.LastName! Your have <a asp-controller="UserProfile" asp-action="Order" asp-route-id="@Model.User.Order.Id" class="text-primary">(@Model.User.Order.Products.Count)</a> products in your order!</h3>
<hr/>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.ListOfProducts.Where(p => p.Category == Category.Brass))
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>
                <a href="~/images/@product.Image" target="_blank">
                    <img src="~/images/@product.Image" width="80" height="80" alt='some thumbnail' />
                </a>
            </td>
            <td>@product.Price</td>
            <td>
                <form method="post" asp-controller="User" asp-action="Brass" asp-route-id="@product.Id">
                    <button type="submit" data-item-id="@product.Id">Add to cart</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
