
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model MusicStore.ViewModels.AdministratorProductViewModel

<div class="container panel-body">
    <div class="row, text-center">
        <h1 style="color:dimgray">Products</h1>
        <div>
            @if (Model.Products.Count == 0)
            {
                <div>No products!</div>
            }
            else
            {
                foreach (var product in Model.Products.OrderBy(p => p.Category)
                    .ThenBy(p => p.Name))
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1">
                                @product.Name
                            </div>
                            <div class="col-md-2">
                                @product.Description
                            </div>
                            <div class="col-md-4">
                                <img src= "~/images/@product.Image" alt="Image" width="300" height="300"/>
                            </div>
                            <div class="col-md-1">
                                @product.Price
                            </div>
                            <div class="col-md-1">
                                @product.Category
                            </div>
                            <div class="col-md-1">
                                <form method="get" asp-controller="AdministratorProduct" asp-action="EditProduct" asp-route-id="@product.Id">
                                    <button type="submit" data-item-id="@product.Id">Edit</button>
                                </form>
                                <form method="post" asp-controller="AdministratorProduct" asp-action="Delete" asp-route-id="@product.Id">
                                    <button type="submit" data-item-id="@product.Id">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                }
            }
            <div><a asp-area="" asp-controller="AdministratorProduct" asp-action="AddProduct"><h3>Add Product</h3></a></div>
        </div>
    </div>
</div>